/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.homeGrid {
  padding: 2rem 0;
}

.homeGridRow {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.homeGridItem {
  padding: 1rem 1.5rem;
  margin: 1rem;
  width: 12rem;
  text-align: center;
  font-size: 2rem;
  border: 3px solid var(--ifm-color-gray-300);
  border-radius: 0.5rem;
  color: var(--ifm-font-color-base);
}

.homeGridItem:hover {
  color: var(--ifm-font-color-base-inverse);
  text-decoration: none;
}

.homeGridItemAmber {
  border-color: var(--ifm-color-primary-amber);
}

.homeGridItemAmber:hover {
  background-color: var(--ifm-color-primary-amber);
}

.homeGridItemBlue{
  border-color: var(--ifm-color-primary-blue);
}

.homeGridItemBlue:hover {
  background-color: var(--ifm-color-primary-blue);
}

.homeGridItemDisabled {
  pointer-events: none;
  color: var(--ifm-color-gray-700);
}